  <!-- Header -->
  <header>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Art gallery by Monti</span>
      <span class="site-heading-lower">Neo Noir Style</span>
    </h1>
  </header>